@use '@variables' as variables;
@use '@mixins' as mixins;

.title {
  @include mixins.headingSmall;
  text-align: center;
  margin: 90px 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 80px;
}

.testimonial {
  background-color: variables.$darkGrey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
}

.name {
  @include mixins.fontSecondary;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.quote {
  width: 20px;
  margin-bottom: 30px;
}

.richText {
  @include mixins.fontSecondaryLight;
  font-size: 16px;
  line-height: 21px;
}

.margin {
  margin-bottom: 10px;
}

.stars {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: auto;
}

.star {
  width: 20px;
  margin-right: 2px;
}

@media screen and (max-width: variables.$tablet) {
  .testimonials {
    grid-template-columns: 1fr;
    padding-bottom: 70px;
  }
}
