@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-color: variables.$darkGrey;
  padding: 1px 0 1px;
  margin: 0 60px;
  padding-bottom: 70px;
  margin-bottom: 100px;
}

.disclaimer {
  @include mixins.fontSecondaryMono;
  text-transform: uppercase;
  margin: 0 auto;
  width: 582px;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    margin: 0 20px;
    padding: 1px 20px 1px;
    margin-bottom: 50px;
  }
  .disclaimer {
    width: 100%;
    margin: 40px auto 30px;
  }
}
