@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-color: variables.$cream;
  h1 {
    margin-bottom: 30px;
    padding-right: 100px;
  }
  p {
    margin: 20px 0;
    padding-right: 50px;
  }
}

.wrapper {
  display: flex;
  gap: 95px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.button {
  margin-top: 30px;
  display: inline-block !important;
  text-align: center;
}

.image {
  width: 393px;
  height: auto;
}

@media screen and (max-width: variables.$tablet) {
  .container {
    h1 {
      padding: 0;
    }
    p {
      padding-right: 0;
    }
  }
  .wrapper {
    gap: 30px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .wrapper {
    flex-direction: column;
    padding: 75px 25px;
  }
  .image {
    width: 100%;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 20px;
  }
}
