@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-color: variables.$cream;
  h2 {
    margin-bottom: 30px;
  }
  p {
    margin: 20px 0;
    padding-right: 50px;
  }
}

.wrapper {
  display: flex;
  gap: 95px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.button {
  margin-top: 30px;
  display: inline-block !important;
}
