@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-color: variables.$cream;
}

.wrapper {
  display: flex;
  gap: 95px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  @include mixins.headingSmall;
  margin-bottom: 30px;
}

.description {
  margin: 20px 0;
  @include mixins.paragraph;
  padding-right: 50px;
}

.button {
  margin-top: 30px;
  display: inline-block !important;
}
