@use '@mixins' as mixins;

.title {
  font-size: 28px;
  @include mixins.fontPrimary;
  margin-bottom: 20px;
}

.name {
  @include mixins.fontSecondaryBold;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 7px;
}

.publication {
  margin-bottom: 30px;
}
