@use '@variables' as variables;
@use '@mixins' as mixins;

.footer {
  background-color: variables.$darkerGrey;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  &.hideMarginTop {
    margin-top: 0;
  }
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo {
  width: 200px;
}

.logoIcon {
  width: 35px;
}

.columns {
  display: flex;
}

.column {
  margin-right: 95px;
  max-width: 285px;
}

.link {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
  @include mixins.fontPrimary;
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
  @include mixins.fontSecondaryBold;
  text-transform: uppercase;
}

.bottomRow {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  p:first-child {
    margin-right: 10px;
  }
}

.emailContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.emailInput {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 5px;
  color: black;
  &::placeholder {
    color: black;
  }
}
.chevron {
  position: absolute;
  right: 0;
}
