@use '@mixins' as mixins;

.container {
  margin-bottom: 60px;
}

.title {
  font-size: 28px;
  @include mixins.fontPrimary;
  margin-bottom: 20px;
}

.degree {
  @include mixins.fontSecondaryDemi;
  margin-bottom: 5px;
  font-size: 16px;
}

.school {
  @include mixins.paragraph;
  margin-bottom: 30px;
}
