@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-bottom: 60px;
}

.title {
  font-size: 28px;
  @include mixins.fontPrimary;
  margin-bottom: 20px;
}

.school {
  @include mixins.fontSecondaryLight;
  margin-bottom: 12px;
  font-size: 16px;
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 24px;
    line-height: 28px;
  }
}
