.container {
  width: 1280px;
  margin: 0 auto;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  color: white;
  overflow-x: scroll;
}

.titleHeading {
  cursor: pointer;
  max-width: 150px;
  width: 150px;
  padding: 1px 5px;
}

.tableData {
  max-width: 150px;
  width: 150px;
  overflow-x: hidden;
  padding: 1px 5px;
}
