@use '@variables' as variables;
@use '@mixins' as mixins;

.inputContainer {
  @include mixins.fontSecondary;
  text-align: center;
}

.input {
  width: 300px;
  border-radius: 3px;
  @include mixins.fontSecondary;
  @include mixins.pseudoBorderBottom;
  input {
    @include mixins.fontSecondary;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    outline: 0;
    &::placeholder {
      @include mixins.fontSecondary;
      color: black;
    }
  }
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.error {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  @include mixins.fontPrimaryLight;
}

.check {
  position: absolute;
  right: 10px;
  top: 20px;
}

@media screen and (max-width: variables.$mobile) {
  .inputContainer,
  .input {
    width: 100%;
  }
}
