@use '@mixins' as mixins;
@use '@variables' as variables;

.testimonial {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  font-size: 1.5rem;
  color: white;
  width: 400px;
  background-color: variables.$darkGrey;
  padding: 20px;
  z-index: 2;
  &.animate {
    animation: floatUp 10s linear forwards;
  }
}

.testimonialText {
  width: 100%;
  color: black;
  font-family: 'Beaufort Light';
  font-size: 20px;
  letter-spacing: 0.1px;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  @include mixins.fontPrimary;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
}

.name {
  font-family: 'Maison Neue Regular';
  letter-spacing: 0.1px;
  font-size: 15px;
}

.topRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star {
  width: 20px;
  margin-right: 2px;
}

.readMore {
  position: relative;
  @include mixins.fontSecondaryMono;
  font-size: 13px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  padding: 0;
  &:active {
    color: black;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-700px);
  }
}

@media screen and (max-width: variables.$mobile) {
  .testimonial {
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    &.animate {
      animation: none;
    }
  }
}
