@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  background-color: variables.$beige;
  text-align: center;
  margin: 65px 80px 100px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  @include mixins.headingSmall;
}

.description {
  @include mixins.paragraph;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
  margin: 20px auto 30px;
}
