.loader {
  left: auto;
  transform: translateX(0);
}

.thankYouContainer {
  margin-top: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
