@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  width: 1000px;
  margin: 0 auto 100px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 25px;
}

.pageHeading {
  @include mixins.headingSmall;
  margin: 90px auto 70px;
  text-align: center;
}

.columnHeading {
  font-size: 28px;
  @include mixins.fontPrimary;
  margin-bottom: 20px;
}

@media screen and (max-width: variables.$tablet) {
  .container {
    width: 800px;
  }
  .columns {
    gap: 35px;
  }
}
@media screen and (max-width: variables.$mobile) {
  .container {
    width: 100%;
    margin-bottom: 40px;
  }

  .columns {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .pageHeading {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
