@use '@mixins' as mixins;
@use '@variables' as variables;

.wrapper {
  width: 1100px;
  padding-bottom: 80px !important;
}

.intro {
  margin: 90px 0;
  text-align: center;
  @include mixins.headingSmall;
  padding: 0;
}

.service {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.icon {
  width: 38px;
  margin-right: 30px;
  margin-top: 5px;
}

.title {
  margin-right: 100px;
  font-size: 28px;
  @include mixins.fontPrimary;
  width: 300px;
}

@media screen and (max-width: variables.$mobile) {
  .intro {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .wrapper {
    padding-bottom: 0 !important;
    width: 100%;
  }

  .service {
    flex-direction: column;
  }

  .icon {
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
