@use '@mixins' as mixins;

.container {
  width: 1100px;
}

.intro {
  margin: 120px 0 130px;
  text-align: center;
  @include mixins.headingSmall;
}

.service {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.icon {
  width: 38px;
  margin-right: 30px;
  margin-top: 5px;
}

.title {
  margin-right: 100px;
  font-size: 28px;
  @include mixins.fontPrimary;
  width: 300px;
}
