@use '@mixins' as mixins;

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px auto 80px !important;
  // Rich text styles
  h2 {
    width: 700px;
    margin: 0 auto;
    padding: 0 20px;
  }
  p {
    width: 510px;
    margin: 25px auto;
  }
}

.button {
  display: block;
  margin: 0 auto;
}
