@use '@mixins' as mixins;

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0 80px;
}
.title,
.description {
  text-align: center;
}

.title {
  font-size: 35px;
  width: 700px;
  margin: 0 auto;
  text-transform: uppercase;
  @include mixins.fontPrimary;
}

.description {
  width: 510px;
  margin: 25px auto;
  font-size: 15px;
  @include mixins.fontSecondary;
}

.button {
  display: block;
  margin: 0 auto;
}
