@use '@mixins' as mixins;

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px auto 80px;
}
.title,
.description {
  text-align: center;
}

.title {
  @include mixins.headingSmall;
  width: 700px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0 20px;
}

.description {
  width: 510px;
  margin: 25px auto;
  @include mixins.paragraph;
}

.button {
  display: block;
  margin: 0 auto;
}
