@use '@mixins' as mixins;
@use '@variables' as variables;

.bookButton {
  margin-right: 15px;
}

.hero {
  h1 {
    text-transform: initial;
    @include mixins.heading;
  }
}

@media screen and (max-width: variables.$mobile) {
  .hero {
    h1 {
      font-size: 45px;
    }
  }
}
