@use '@mixins' as mixins;

.column {
  width: 250px;
}
.columnHeading {
  font-size: 28px;
  @include mixins.fontPrimary;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 40px;
}

.title {
  @include mixins.fontSecondaryMedium;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 5px;
}

.author {
  @include mixins.paragraph;
  margin-bottom: 10px;
}

.link {
  @include mixins.fontSecondary;
  text-transform: uppercase;
  text-decoration: underline;
}
