@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.tile {
  background-color: variables.$darkGrey;
  padding: 45px 25px;
}

.number {
  border-radius: 50%;
  border: 1px solid black;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 25px;
  @include mixins.fontPrimary;
}

.title {
  margin: 12px 0;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  @include mixins.fontPrimary;
  padding: 0 35px;
}

.description {
  text-align: center;
  @include mixins.paragraph;
}

.button {
  @include mixins.headingSmall;
  width: 100%;
  margin: 80px 0 140px;
  padding: 15px 0;
}
