@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 300;
}

.overlay {
  animation: fadeIn linear 0.3s forwards;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.iframeContainer {
  top: 0;
  width: 1100px;
  position: relative;
  z-index: 301;
}

.textContainer {
  background-color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  p {
    @include mixins.fontSecondary;
  }
  .bold {
    @include mixins.fontSecondaryBold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.iframe {
  z-index: 302 !important;
}

.closeButton {
  position: absolute;
  z-index: 304;
  right: -25px;
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: variables.$tablet) {
  .iframeContainer {
    width: 90%;
  }
}
