@font-face {
  font-family: 'Beaufort Regular';
  src: url('../asset/fonts/Beaufort/BeaufortforLOL-Regular.ttf');
}

@font-face {
  font-family: 'Beaufort Light';
  src: url('../asset/fonts/Beaufort/BeaufortforLOL-Light.ttf');
}

@font-face {
  font-family: 'Beaufort Medium';
  src: url('../asset/fonts/Beaufort/Beaufort\ W01\ Medium.ttf');
}

@font-face {
  font-family: 'Maison Neue Regular';
  src: url('../asset/fonts/Maison-Neue/fonnts.com-Maison_Neue_Book.ttf');
}

@font-face {
  font-family: 'Maison Neue Bold';
  src: url('../asset/fonts/Maison-Neue/fonnts.com-Maison_Neue_Bold.ttf');
}

@font-face {
  font-family: 'Maison Neue Medium';
  src: url('../asset/fonts/Maison-Neue/MaisonNeue-Medium.ttf');
}

@font-face {
  font-family: 'Maison Neue Demi';
  src: url('../asset/fonts/Maison-Neue/MaisonNeue-Demi.ttf');
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('../asset/fonts/Maison-Neue/fonnts.com-Maison_Neue_Mono.ttf');
}

@font-face {
  font-family: 'Maison Neue Light';
  src: url('../asset/fonts/Maison-Neue/MaisonNeue-Light.ttf');
}
