@use '@variables' as variables;

@mixin fontPrimary {
  font-family: '';
}

@mixin fontSecondaryLight {
  font-family: '';
}

@mixin fontSecondary {
  font-family: '';
}

@mixin fontSecondaryMedium {
  font-family: '';
}

@mixin fontSecondaryBold {
  font-family: '';
}

@mixin heading {
  @include fontPrimary;
  font-size: 50px;
}

@mixin headingSmall {
  @include fontPrimary;
  font-size: 35px;
}

@mixin paragraph {
  @include fontSecondary;
  font-size: 15px;
}

@mixin pulseShadow($color: #fff, $size: 15px, $opacity: 1) {
  animation: infinite 2s pulseShadow ease-in-out;
  box-shadow: 0 0 $size $color;

  @keyframes pulseShadow {
    0% {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 $size rgba($color, $opacity);
    }
    100% {
      box-shadow: none;
    }
  }
}
