$borderRadius: 0px;
// Colors
$white: #fff;
$charcoal: #2f2f2f;
$black: #191919;
$beige: #dbded6;
$primaryColor: $beige;
$grey: #f0efee;
$darkGrey: #dbded6;
$darkerGrey: #c7c3b8;
$cream: #e3dfd3;
$teal: #48545e;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;
