@use '@mixins' as mixins;

.textContainer {
  margin-top: 90px;
  margin-bottom: 80px;
  text-align: center;
  h2,
  h3 {
    margin: 0 auto 40px;
    text-align: center;
    display: inline-block;
  }
  h2 {
    margin-right: 10px;
  }
  p {
    text-align: left;
    margin-bottom: 20px;
  }
}
.container {
  display: flex;
  margin-bottom: 100px;
  gap: 80px;
}

.left,
.right {
  width: 50%;
}
