@use '@mixins' as mixins;
@use '@variables' as variables;

.nav {
  width: 100%;
  z-index: 3;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: variables.$primaryColor;
  position: fixed;
  &.fixed {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 50px;
    margin-top: 30px;
    max-width: 1370px;
  }
}

div.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: block;
  width: 200px;
  position: relative;
  z-index: 10001;
}
.logo {
  width: 200px;
  height: auto;
}

.rightContainer {
  display: flex;
  align-items: center;
  p {
    margin-right: 20px;
  }
}

.bookButton {
  @include mixins.fontPrimary;
  font-size: 15px;
  border: none;
  background: none;
  margin-right: 30px;
  position: relative;
  transition: 0.3s;
  @include mixins.borderBottom;
  padding: 0;
}

@media screen and (max-width: variables.$mobile) {
  .nav {
    margin: 0 auto 20px;
    padding: 15px 0 0 0;
    align-items: center;
    &.fixed {
      padding: 0 20px;
    }
  }

  .logo {
    width: 29px;
    background: none;
  }
}

.fadeOut {
  animation: fadeOut linear 0.1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
