@use '@variables' as variables;
@use '@mixins' as mixins;

.richText {
  font-size: 15px;
  @include mixins.paragraph;
}

.link {
  @include mixins.fontSecondaryBold;
  &:active {
    color: black;
  }
}

.unorderedList {
  list-style: disc;
  font-size: 15px;
  margin-top: 10px;
  li {
    margin: 5px 0px 5px 15px;
    font-size: 15px;
  }
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: variables.$mobile) {
  .link {
    font-size: 14px;
    padding: 8px 15px;
    min-width: auto;
    width: 140px;
  }
}
