@use '@mixins' as mixins;

.textContainer {
  text-align: center;
  width: 470px;
  margin: 100px auto 40px;
}

.title {
  @include mixins.headingSmall;
  margin-bottom: 20px;
}

.description {
  @include mixins.paragraph;
  span {
    text-decoration: underline;
  }
}
